In [2]:
import numpy as np
import pandas as pd

In [3]:
users = pd.read_csv('Users.csv')
books = pd.read_csv('Books.csv')
ratings = pd.read_csv('Ratings.csv')

/var/folders/yg/hd2fsztd2rj7gz6wxpt70gkc0000gn/T/ipykernel_46438/2180017960.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv')

In [4]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [5]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [7]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [8]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [9]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [10]:
books.duplicated().sum()

0

In [11]:
ratings.duplicated().sum()

0

In [12]:
users.duplicated().sum()

0

In [13]:
#POPULAR BOOKS

In [14]:
ratings_with_name = ratings.merge(books,on = 'ISBN')

In [15]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num_ratings'},inplace=True)
num_rating_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [16]:
avg_rating_df = ratings_with_name.groupby('Book-Title')['Book-Rating'].mean().reset_index()
avg_rating_df.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
avg_rating_df

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.    0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241068                                Ã?Â?sterlich leben.    7.000000
241069                              Ã?Â?stlich der Berge.    2.666667
241070                                  Ã?Â?thique en toc    4.000000

[241071 rows x 2 columns]

In [17]:
popular_df = num_rating_df.merge(avg_rating_df,on='Book-Title')
popular_df

,Book-Title,num_ratings,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [18]:
popular_df = popular_df[popular_df['num_ratings']>=250].sort_values('avg_rating',ascending=False).head(50)

In [19]:
popular_df = popular_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_ratings','avg_rating']]
print(popular_df)

                                            Book-Title  \
0    Harry Potter and the Prisoner of Azkaban (Book 3)
3         Harry Potter and the Goblet of Fire (Book 4)
5       Harry Potter and the Sorcerer's Stone (Book 1)
9    Harry Potter and the Order of the Phoenix (Boo...
13    Harry Potter and the Chamber of Secrets (Book 2)
16   The Hobbit : The Enchanting Prelude to The Lor...
17   The Fellowship of the Ring (The Lord of the Ri...
26   Harry Potter and the Sorcerer's Stone (Harry P...
28      The Two Towers (The Lord of the Rings, Part 2)
39                               To Kill a Mockingbird
47                                   The Da Vinci Code
53                  The Five People You Meet in Heaven
55                              The Catcher in the Rye
62                           The Lovely Bones: A Novel
63                                                1984
72                            Prodigal Summer: A Novel
73                                          Neverwhere
78                             The Secret Life of Bees
84   Stupid White Men ...and Other Sorry Excuses fo...
85   Tuesdays with Morrie: An Old Man, a Young Man,...
88                 The Red Tent (Bestselling Backlist)
89                The Hitchhiker's Guide to the Galaxy
98    Nickel and Dimed: On (Not) Getting By in America
100                                      Into the Wild
103                                     Fahrenheit 451
116                          Girl with a Pearl Earring
117                                          Outlander
123  Where the Heart Is (Oprah's Book Club (Paperba...
124                     Seabiscuit: An American Legend
126                                         Life of Pi
130                                     The Bean Trees
133  A Child Called \It\": One Child's Courage to S...
135                                     ANGELA'S ASHES
137                                        Good in Bed
139  Fast Food Nation: The Dark Side of the All-Ame...
140                                      American Gods
141                                 Skipping Christmas
147  Left Behind: A Novel of the Earth's Last Days ...
149    The Golden Compass (His Dark Materials, Book 1)
157                                   The Color Purple
163                               Silence of the Lambs
166                                        About a Boy
173                  Seven Up (A Stephanie Plum Novel)
175  The Alchemist: A Fable About Following Your Dream
177  Hard Eight : A Stephanie Plum Novel (A Stephan...
182                       Suzanne's Diary for Nicholas
186                                  Lord of the Flies
192                            A Prayer for Owen Meany
194   The Vampire Lestat (Vampire Chronicles, Book II)
195       White Oleander : A Novel (Oprah's Book Club)

                Book-Author  \
0             J. K. Rowling
3             J. K. Rowling
5             J. K. Rowling
9             J. K. Rowling
13            J. K. Rowling
16           J.R.R. TOLKIEN
17           J.R.R. TOLKIEN
26            J. K. Rowling
28           J.R.R. TOLKIEN
39               Harper Lee
47                Dan Brown
53              Mitch Albom
55            J.D. Salinger
62             Alice Sebold
63            George Orwell
72       Barbara Kingsolver
73              Neil Gaiman
78            Sue Monk Kidd
84            Michael Moore
85              MITCH ALBOM
88            Anita Diamant
89            Douglas Adams
98       Barbara Ehrenreich
100            Jon Krakauer
103            Ray Bradbury
116         Tracy Chevalier
117          DIANA GABALDON
123            Billie Letts
124       LAURA HILLENBRAND
126             Yann Martel
130      Barbara Kingsolver
133             Dave Pelzer
135           Frank McCourt
137         Jennifer Weiner
139          Eric Schlosser
140             Neil Gaiman
141            JOHN GRISHAM
147              Tim Lahaye
149          PHILIP PULLMAN
157            Alice Walker
163           Thomas Harris
166             Nick Hornby
173         Janet Evanovich
175            Paulo Coelho
177         Janet Evanovich
182         James Patterson
186  William Gerald Golding
192             John Irving
194               ANNE RICE
195             Janet Fitch

                                           Image-URL-M  num_ratings  \
0    http://images.amazon.com/images/P/0439136350.0...          428
3    http://images.amazon.com/images/P/0439139597.0...          387
5    http://images.amazon.com/images/P/0590353403.0...          278
9    http://images.amazon.com/images/P/043935806X.0...          347
13   http://images.amazon.com/images/P/0439064872.0...          556
16   http://images.amazon.com/images/P/0345339681.0...          281
17   http://images.amazon.com/images/P/0345339703.0...          368
26   http://images.amazon.com/images/P/059035342X.0...          575
28   http://images.amazon.com/images/P/0345339711.0...          260
39   http://images.amazon.com/images/P/0446310786.0...          510
47   http://images.amazon.com/images/P/0385504209.0...          898
53   http://images.amazon.com/images/P/0786868716.0...          430
55   http://images.amazon.com/images/P/0316769487.0...          449
62   http://images.amazon.com/images/P/0316666343.0...         1295
63   http://images.amazon.com/images/P/0451524934.0...          284
72   http://images.amazon.com/images/P/0060959037.0...          253
73   http://images.amazon.com/images/P/0380789019.0...          265
78   http://images.amazon.com/images/P/0142001740.0...          774
84   http://images.amazon.com/images/P/0060392452.0...          283
85   http://images.amazon.com/images/P/0385484518.0...          493
88   http://images.amazon.com/images/P/0312195516.0...          723
89   http://images.amazon.com/images/P/0671461494.0...          268
98   http://images.amazon.com/images/P/0805063897.0...          335
100  http://images.amazon.com/images/P/0385486804.0...          252
103  http://images.amazon.com/images/P/3257208626.0...          409
116  http://images.amazon.com/images/P/0452282152.0...          526
117  http://images.amazon.com/images/P/0440222915.0...          283
123  http://images.amazon.com/images/P/0446672211.0...          585
124  http://images.amazon.com/images/P/0449005615.0...          275
126  http://images.amazon.com/images/P/0151008116.0...          664
130  http://images.amazon.com/images/P/0060915544.0...          389
133  http://images.amazon.com/images/P/1558743669.0...          265
135  http://images.amazon.com/images/P/0684874350.0...          279
137  http://images.amazon.com/images/P/0743418174.0...          490
139  http://images.amazon.com/images/P/0060938455.0...          321
140  http://images.amazon.com/images/P/0380789035.0...          302
141  http://images.amazon.com/images/P/0385505833.0...          322
147  http://images.amazon.com/images/P/0842329129.0...          318
149  http://images.amazon.com/images/P/037582345X.0...          336
157  http://images.amazon.com/images/P/0671617028.0...          314
163  http://images.amazon.com/images/P/0312924585.0...          256
166  http://images.amazon.com/images/P/1573227331.0...          262
173  http://images.amazon.com/images/P/0312265840.0...          278
175  http://images.amazon.com/images/P/0062502174.0...          266
177  http://images.amazon.com/images/P/0312983867.0...          269
182  http://images.amazon.com/images/P/0316969443.0...          457
186  http://images.amazon.com/images/P/0399501487.0...          259
192  http://images.amazon.com/images/P/0345361792.0...          413
194  http://images.amazon.com/images/P/0345313860.0...          301
195  http://images.amazon.com/images/P/0316284955.0...          356

     avg_rating
0      5.852804
3      5.824289
5      5.737410
9      5.501441
13     5.183453
16     5.007117
17     4.948370
26     4.895652
28     4.880769
39     4.700000
47     4.642539
53     4.551163
55     4.545657
62     4.468726
63     4.454225
72     4.450593
73     4.449057
78     4.447028
84     4.356890
85     4.354970
88     4.334716
89     4.328358
98     4.289552
100    4.273810
103    4.264059
116    4.218631
117    4.173145
123    4.105983
124    4.098182
126    4.088855
130    4.087404
133    4.086792
135    4.075269
137    4.055102
139    4.037383
140    4.006623
141    4.006211
147    4.003145
149    4.000000
157    3.964968
163    3.960938
166    3.900763
173    3.888489
175    3.875940
177    3.825279
182    3.820569
186    3.818533
192    3.796610
194    3.777409
195    3.772472

In [20]:
#RECOMMENDED BOOKS

In [21]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating'] > 200
users_with_ratings = x[x].index

In [22]:
filtered_ratings = ratings_with_name[ratings_with_name['User-ID'].isin(users_with_ratings)]

In [23]:
y = filtered_ratings.groupby('Book-Title').count()['Book-Rating'] >= 50
#boolean indexing
famous_books = y[y].index

In [24]:
final_ratings = filtered_ratings[filtered_ratings['Book-Title'].isin(famous_books)]

In [25]:
final_ratings.duplicated().sum()

0

In [26]:
final_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
1150,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...
1163,277427,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,http://images.amazon.com/images/P/0060930535.0...,http://images.amazon.com/images/P/0060930535.0...,http://images.amazon.com/images/P/0060930535.0...
1165,277427,0060934417,0,Bel Canto: A Novel,Ann Patchett,2002,Perennial,http://images.amazon.com/images/P/0060934417.0...,http://images.amazon.com/images/P/0060934417.0...,http://images.amazon.com/images/P/0060934417.0...
1168,277427,0061009059,9,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,1995,HarperTorch,http://images.amazon.com/images/P/0061009059.0...,http://images.amazon.com/images/P/0061009059.0...,http://images.amazon.com/images/P/0061009059.0...
1174,277427,006440188X,0,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...,http://images.amazon.com/images/P/006440188X.0...,http://images.amazon.com/images/P/006440188X.0...
...,...,...,...,...,...,...,...,...,...,...
1029196,275970,1400031354,0,Tears of the Giraffe (No.1 Ladies Detective Ag...,Alexander McCall Smith,2002,Anchor,http://images.amazon.com/images/P/1400031354.0...,http://images.amazon.com/images/P/1400031354.0...,http://images.amazon.com/images/P/1400031354.0...
1029197,275970,1400031362,0,Morality for Beautiful Girls (No.1 Ladies Dete...,Alexander McCall Smith,2002,Anchor,http://images.amazon.com/images/P/1400031362.0...,http://images.amazon.com/images/P/1400031362.0...,http://images.amazon.com/images/P/1400031362.0...
1029270,275970,1573229725,0,Fingersmith,Sarah Waters,2002,Riverhead Books,http://images.amazon.com/images/P/1573229725.0...,http://images.amazon.com/images/P/1573229725.0...,http://images.amazon.com/images/P/1573229725.0...
1029309,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...
1029310,275970,1586212230,0,Naked,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586212230.0...,http://images.amazon.com/images/P/1586212230.0...,http://images.amazon.com/images/P/1586212230.0...

In [27]:
pt = final_ratings.pivot_table(index = 'Book-Title', columns = 'User-ID', values = 'Book-Rating')

In [28]:
pt.fillna(0,inplace = True)

In [29]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [30]:
from sklearn.metrics.pairwise import cosine_similarity

In [31]:
similarity_scores = cosine_similarity(pt)

In [32]:
similarity_scores

array([[1.        , 0.10255025, 0.01220856, ..., 0.12110367, 0.07347567,
        0.04316046],
       [0.10255025, 1.        , 0.2364573 , ..., 0.07446129, 0.16773875,
        0.14263397],
       [0.01220856, 0.2364573 , 1.        , ..., 0.04558758, 0.04938579,
        0.10796119],
       ...,
       [0.12110367, 0.07446129, 0.04558758, ..., 1.        , 0.07085128,
        0.0196177 ],
       [0.07347567, 0.16773875, 0.04938579, ..., 0.07085128, 1.        ,
        0.10602962],
       [0.04316046, 0.14263397, 0.10796119, ..., 0.0196177 , 0.10602962,
        1.        ]])

In [33]:
def recommend(book_name):
    #fetch book's index
    index = np.where(pt.index == book_name)[0][0]
    #enumerate displays the array's value along with its index as we would need index of topmost similar books
    #lambda to sort list based on second index i.e similarity_scores
    similar_items = sorted(list(enumerate(similarity_scores[index])),key = lambda x:x[1],reverse=True)[1:6]    
    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
    
    return data

In [34]:
recommend('Message in a Bottle')

[['Nights in Rodanthe',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446531332.01.MZZZZZZZ.jpg'],
 ['The Mulberry Tree',
  'Jude Deveraux',
  'http://images.amazon.com/images/P/0743437640.01.MZZZZZZZ.jpg'],
 ['A Walk to Remember',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446608955.01.MZZZZZZZ.jpg'],
 ["River's End",
  'Nora Roberts',
  'http://images.amazon.com/images/P/0515127833.01.MZZZZZZZ.jpg'],
 ['Nightmares &amp; Dreamscapes',
  'Stephen King',
  'http://images.amazon.com/images/P/0451180232.01.MZZZZZZZ.jpg']]

In [35]:
books['Image-URL-M'][0]

'http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg'

In [36]:
#import pickle
#pickle.dump(pt,open('pt.pkl','wb'))
#pickle.dump(books,open('books.pkl','wb'))
#pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))

In [37]:
import pickle
pickle.dump(popular_df,open('popular_df.pkl','wb'))